#root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


.feature-card {
    height: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;


}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .feature-card {
        padding-bottom: 50px;
    }

    .card-container {
        gap: 25px;
    }

    .files-wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .file-search-form {
        display: flex;
        flex-direction: column;
    }

    .file-upload-searchbar {
        min-width: 100%;
        max-width: 100%;

    }
    .file-search-buttons {
        display: flex;
        gap: 20px; /* Abstand zwischen den Kind-Elementen */
        justify-content: right;
    }

}

.custom-dragger:hover {
    background-color: #535353 !important;
}

.ant-upload-list-item-name, .ant-upload-icon span svg {
    color: #fff;
}

.ant-upload-list-item-action span span svg {
    color: red
}

/* Ändert die Hover-Farbe von nicht ausgewählten Seitenzahlen und Pfeilen */
.ant-pagination-item:hover a, .ant-pagination-prev:hover a, .ant-pagination-next:hover a {
    color: #40a9ff; /* Das ist die Standard-Farbe von Ant Design für Hover, aber Sie können sie nach Belieben ändern */
}

.ant-pagination-item-link span {
    color: white;
}

.ant-pagination-item a {
    color: white;

}

/* Ändert den Hintergrund der aktuell ausgewählten Seite */
.ant-pagination-item-active {
    background-color: #141414; /* Ändern Sie dies je nach Dunkelheit Ihres Hintergrunds */
}

@media only screen and (min-width: 768px) {
    .files-wrapper {
        width: 70%;
        margin: 0 auto;
    }

    .file-search-buttons {
        float: right;
        display: flex;
        flex-direction: row; /* Vertikale Anordnung */
        gap: 20px; /* Abstand zwischen den Kind-Elementen */
    }
}


.file-upload-wrapper {
    width: 70%;
    margin: 0 auto;
}

.file-search-form {
    margin-bottom: 25px;
}



