* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    position: relative;
    background: #202020;
}

#root {
    background: #242424;
    width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


.feature-card {
    height: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;


}

.custom-dragger:hover {
    background-color: #535353 !important;
}

.ant-upload-list-item-name, .ant-upload-icon span svg {
    color: #fff;
}

.ant-upload-list-item-action span span svg {
    color: red
}

/* Ändert die Hover-Farbe von nicht ausgewählten Seitenzahlen und Pfeilen */
.ant-pagination-item:hover a, .ant-pagination-prev:hover a, .ant-pagination-next:hover a {
    color: #40a9ff; /* Das ist die Standard-Farbe von Ant Design für Hover, aber Sie können sie nach Belieben ändern */
}

.ant-pagination-item-link span {
    color: white;
}

.ant-pagination-item a {
    color: white;

}


.ant-pagination-item-active {
    background-color: #141414;
}


.file-search-form {
    margin-bottom: 25px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-container, .file-upload-wrapper, .chat-wrapper {
    padding: 2rem;
}

.chat-wrapper{
    display: flex;
    flex-direction: column;
    height: 80%;
    max-height: 80%;
}


.customNavbar .ant-menu-item:hover {
    color: white !important;
}

.customNavbar .ant-menu-item-selected {
    color: white !important;
}

.navbar ul {
    background: #202020;
    height: 75px;
}

/* Responsive Design */
@media only screen and (max-width: 950px) {
    .feature-card {
        padding-bottom: 50px;
    }

    .card-container {
        gap: 25px;
    }

    .files-wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .file-search-form {
        display: flex;
        flex-direction: column;
    }

    .file-upload-searchbar {
        min-width: 100%;
        max-width: 100%;

    }

    .file-search-buttons {
        display: flex;
        gap: 20px; /* Abstand zwischen den Kind-Elementen */
        justify-content: right;
    }

    .file-upload-wrapper {
        width: 95%;
        margin: 0 auto 100px auto;
    }

    .navbar {
        flex-direction: column;
    }

    .customNavbar {
        width: 100% !important;
    }

    .navbar ul {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .openai-token-wrapper{
        flex-direction: column;
    }
    .openai-token-wrapper input{
        margin: 0 0 20px 0;
        font-size: 12px;
    }

}

.ant-table-cell {
    max-width: 200px;

}

.ant-table-wrapper {
    margin: 0 auto;
}


@media only screen and (min-width: 950px) {
    .files-wrapper {
        max-width: 850px;
        min-width: 70%;
        margin: 0 auto;
    }

    .file-search-buttons {
        float: right;
        display: flex;
        flex-direction: row; /* Vertikale Anordnung */
        gap: 20px; /* Abstand zwischen den Kind-Elementen */
    }

    .file-upload-wrapper, .chat-wrapper {
        width: 70%;
        margin: 0 auto;
    }

    .navbar {
        display: flex;
        flex-direction: row;
    }

    .navbar-logo {
        width: 50%;
        margin-bottom: 10px;
    }

    .customNavbar {
        width: 50%;
        justify-content: right;
        align-items: center;
        padding-right: 5%;
    }

    .openai-token-wrapper input{
        margin: 0 20px 0 0;
    }

}

.react-pdf__Page__textContent, .react-pdf__Page__annotations, .react-pdf__message--no-data {
  display: none !important;
}


